
#blurb-div {
  width: 80%;
  max-width: 600px;
  margin:0px auto;
  height: 500px;
  overflow: scroll;
  border-style: double;
  border-width: 5px;
  border-radius: 15px;
  padding: 20px 30px;
}

#blurb-text {
  font-size: 20px;
  text-align: left;
  font-family: 'Caveat Brush', cursive;
}

#blurb-title {
  font-size: 25px;
  text-decoration: bold;
  text-align: center;
  font-family: 'Caveat Brush', cursive;
}

nav {
  padding-bottom:20px;
}

footer {
  padding-top: 40px;
}
