html, body {
  margin: 0;
  height: 100%;
}

header {
  margin: 0;
}
#title img{
  width: 100%;
}
nav {
  text-align: center;
  margin: 0 auto;
}
nav a {
  margin: 0 auto;
}
main img {
  width: 100%;
}
main {
  /* background-image: url("assets/barbackground.png");
  background-repeat: no-repeat;
  background-size: cover; */
}
footer {
  margin: 0;
}