@font-face {
  font-family: SundayMorning;
  src: url("assets/fonts/Sunday\ Morning.otf") format("opentype");
}

html, body {
  margin: 0;
  height: 100%;
  font-family: SundayMorning;
  overflow: hidden;
}

#title img{
  width: 100%;
}
nav {
  text-align: center;
}
nav a {
  color: black;
  margin: 0 auto;
}
.side div {
  padding: 2em;
}
main {
  /* background-image: url("assets/barbackground.png");
  background-repeat: no-repeat;
  background-size: cover; */
  position: relative;
  height: 100%;
}
#background {
  height: 100%;
}
